mantra-text {
  width: 50%;
}

#mt2 {
  background-color: #A82FC1
}

.mt-class {
  background-color: #A82FC1;
  width: 500px;
}

.Mantra {
  background-color: #A82FC1
}

/* #root {
  background-color: #A82FC1
} */
