body {
  background-color:  dimGray;
}

mantra-text {
  width: 50%;
}

#mt2 {
  background-color: #A82FC1
}

.mt-class {
  background-color: #A82FC1;
  width: 500px;
}

.Mantra {
  background-color: #A82FC1
}

.mantra-div {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  /* background-color: dimGray; */
}

.mantra-text {
  text-align: left;
  color: white;
}

.mantra-title {
  text-align: center;
  color: white;
}

.mantra-header {
  text-align: center;
  color: red;
}

.mantra-app {
  text-align: center;
}

.mantra-footer {
  padding-top: 20px;
}


/* #root {
  background-color: #A82FC1
} */
